## Estructuras de Datos

1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [44]:
lista=["Bs As", "NY", "Budapest","Wellington","Auckland"]
print(lista)

['Bs As', 'NY', 'Budapest', 'Wellington', 'Auckland']

2) Imprimir por pantalla el segundo elemento de la lista

In [11]:
print(lista[1])

NY

3) Imprimir por pantalla del segundo al cuarto elemento

In [12]:
print(lista[1:5])

['NY', 'Budapest', 'Wellington', 'Auckland']

4) Visualizar el tipo de dato de la lista

In [13]:
type(lista)

list

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [17]:
print(lista[2:])

['Budapest', 'Wellington', 'Auckland']

6) Visualizar los primeros 4 elementos de la lista

In [18]:
print(lista[:4])

['Bs As', 'NY', 'Budapest', 'Wellington']

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [23]:
lista.append("London")
lista.append("Auckland")
print(lista)

['Bs As', 'NY', 'Budapest', 'Wellington', 'Auckland', 'London', 'Auckland']

8) Agregar otra ciudad, pero en la cuarta posición

In [25]:
lista.insert(3,"Toulouse")
print(lista)

['Bs As', 'NY', 'Budapest', 'Toulouse', 'Wellington', 'Auckland', 'London', 'Auckland']

9) Concatenar otra lista a la ya creada

In [26]:
lista.extend(["Madrid", "Moscu"])
print(lista)

['Bs As', 'NY', 'Budapest', 'Toulouse', 'Wellington', 'Auckland', 'London', 'Auckland', 'Madrid', 'Moscu']

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [28]:
lista.index("Auckland")

5

11) ¿Qué pasa si se busca un elemento que no existe?

In [29]:
lista.index("adsd")

ValueError: 'adsd' is not in list

12) Eliminar un elemento de la lista

In [30]:
lista.remove(lista[7])
print(lista)

['Bs As', 'NY', 'Budapest', 'Toulouse', 'Wellington', 'London', 'Auckland', 'Madrid', 'Moscu']

13) ¿Qué pasa si el elemento a eliminar no existe?

In [32]:
lista.remove(lista[17])

TypeError: list indices must be integers or slices, not str

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [33]:
ultimo=lista.pop()
print(ultimo)

Moscu

15) Mostrar la lista multiplicada por 4

In [35]:
print(lista*4)

['Bs As', 'NY', 'Budapest', 'Toulouse', 'Wellington', 'London', 'Auckland', 'Madrid', 'Bs As', 'NY', 'Budapest', 'Toulouse', 'Wellington', 'London', 'Auckland', 'Madrid', 'Bs As', 'NY', 'Budapest', 'Toulouse', 'Wellington', 'London', 'Auckland', 'Madrid', 'Bs As', 'NY', 'Budapest', 'Toulouse', 'Wellington', 'London', 'Auckland', 'Madrid']

16) Crear una tupla que contenga los números enteros del 1 al 20

In [37]:
lista_vacia=[]
for n in range(1,21):
    lista_vacia.append(n)
mi_tupla=tuple(lista_vacia)
print(mi_tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [38]:
print(mi_tupla[10:15])

(11, 12, 13, 14, 15)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [42]:

print(20 in mi_tupla)
print(30 in mi_tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [50]:
if(not "Paris" in lista ):
    lista.append("Paris")
print(lista)

['Bs As', 'NY', 'Budapest', 'Wellington', 'Auckland', 'Paris']

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [53]:
lista.count("Auckland")
mi_tupla.count(2)

1

21) Convertir la tupla en una lista

In [55]:
new_list=list(mi_tupla)
type(new_list)

list

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [59]:
item1,item2,item3, *_=mi_tupla
print(item3)

3

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [74]:
mi_dict={
    "cities":lista,
    "country":"NZ",
    "continent":"oceania"
}
for element in enumerate(mi_dict.values()):
    print(element[1])

['Bs As', 'NY', 'Budapest', 'Wellington', 'Auckland', 'Paris']
NZ
oceania

24) Imprimir las claves del diccionario

In [61]:
print(mi_dict.keys())

dict_keys(['cities', 'country', 'continent'])

25) Imprimir las ciudades a través de su clave

In [62]:
print(mi_dict["cities"])

['Bs As', 'NY', 'Budapest', 'Wellington', 'Auckland', 'Paris']